<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveAve</title>
    <link rel="shortcut icon" href="/images/assets/logo.png" type="image/jpeg">
    <link rel="stylesheet" href="/css/profile-style.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="content">
    <div class="content__menu-bar">
        <div class="content__nav-bar">
            <ul>
                <li>
                    <a href="/add-car">

                        Добавить &#261;втомобиль
                    </a>

                </li>
                <li>
                    <a href="/cars-list">

                        Наши &#261;втомобили
                    </a>

                </li>
                <li>
                    <a href="/reports">

                        Отчеты
                    </a>

                </li>
                <li>
                    <a href="/customer-comments">

                        Отзывы
                    </a>

                </li>

            </ul>
        </div>


    </div>
    <div class="content__main-frame">

        <a href="/">
            <div class="head">
                <h1 class="service-name">DriveAve</h1>
            </div>
        </a>

        <div >
            <img class="content__logo" src="/images/assets/logo.png" alt="logo" width="200">
        </div>

        <a id="first" href="/reports/first-report.txt" download>О популярности автомобилей</a>
        <a id="second" href="/reports/second-report.txt" download>О занятых автомобилях</a>

        <div class="form-2">
            <p>
                Для пользователя администратор программно генерируются 2 отчета
            </p>
            <p>
                Первый отчет о популярности автомобилей нашего автопарка
            </p>
            <p>
                Второй отчет о забронированных в данный момент автомобилях
            </p>
        </div>
    </div>
</div>

</body>
</html>