<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои заказы</title>
    <link rel="shortcut icon" href="/images/assets/logo.png" type="image/jpeg">
    <link rel="stylesheet" href="/css/profile-style.css">

</head>
<body>
<div class="content">
    <div class="content__menu-bar">
        <div class="content__nav-bar">
            <ul>
                <li>
                    <a href="/orders">

                        Мои з&#261;казы
                    </a>

                </li>
                <li>
                    <a href="/rent">

                        Арен&#273;овать
                    </a>

                </li>
                <li>
                    <a href="/cars">

                        Наши &#261;втомобили
                    </a>

                </li>
                <li>
                    <a href="/drive-ave-recommends">

                        Рекомен&#273;ации
                    </a>

                </li>
                <li>
                    <a href="/facts">

                        Интересные ф&#261;кты
                    </a>

                </li>
                <li>
                    <a href="/my-rate">

                        Мой рейтинг
                    </a>

                </li>
                <li>
                    <a href="/rate-us">

                        Оценить сервис
                    </a>

                </li>
            </ul>
        </div>
        <div class="ad">
            <a href="https://lexus.by/" target="_blank">
                <img src="/images/assets/advertisment.jpg" alt="ad" width="340">
            </a>
        </div>

    </div>
    <div class="content__main-frame">

        <a href="/">
            <div class="head">
                <h1 class="service-name">DriveAve</h1>
            </div>
        </a>

        <div  th:switch="${rents}" class="form-list">
            <form th:case="null" th:action="@{/my-orders}" method="post" class="get-button">
                <input readonly type="text" name="login" style="background-color: transparent;position: relative; left: 480px;width: 250px;" class="transparent" id="login">
                <button class="transparent-button" type="submit" style="background-color: transparent;position: relative; right: 120px;">
                    Обновить
                </button>
            </form>

            <div th:case="*">
                <table class="rent-table">
                    <thead>
                    <tr>
                        <th>Марка</th>
                        <th>Модель</th>
                        <th>Дата начала</th>
                        <th>Дата окончания</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "rent : ${rents}">
                        <td th:text="${rent.id_car_rented.name}"></td>
                        <td th:text="${rent.id_car_rented.model}"></td>
                        <td th:text="${rent.startrent_date}"></td>
                        <td th:text="${rent.endrent_date}"></td>
                        <td class="delete"><a th:href = "@{cancel-rent/{id} (id=${rent.id})}">&times;</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<script>
    let login = document.querySelector("#login");
    login.value = localStorage.getItem("login");
</script>
</body>
</html>