<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveAve</title>
    <link rel="shortcut icon" href="/images/assets/logo.png" type="image/png">
    <link rel="stylesheet" href="/css/auths.css">
    <style>
        .error-message{
            background-color: #fffcfc;
            position: absolute;
            z-index: 50;
            color: #3F84E1;
            top: 2rem;
            right: 2rem;
            padding: 0.4rem;

        }
    </style>
</head>
<body>
<div class="error-message">
    <h4 th:text="${error}"></h4>
</div>
<div class="sign-in">
    <h1 align="center">
        <span class="drive">Забыли </span><span class="ave">пароль?</span>
    </h1>
    <form th:action="@{/forgot-password}" th:object="${customer}" method="post" class="form" id="form1">
        <input type="email" required="required" th:field="*{email}" id="name" placeholder="E-mail" class="input">

        <button type="submit" class="btn-bevel">
            Восстановление
        </button>

    </form>

</div>



<div id="player"></div>

<script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: 'bzmFBeOLrDg',
            events: {
                'onReady': onPlayerReady
            }
        });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        event.target.playVideo();
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.

    function stopVideo() {
        player.stopVideo();
    }
</script>

</body>
</html>